*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body{
        font-family: Poppins;
        background-color: #FAFAFA;
    }
     .Text{
        justify-items: center;
        margin-top: 60px;
        font-family: Poppins;
    }
    #first{
        color: hsl(234, 12%, 34%) ;
        font-weight: 200;
    } 
    .Text p{
        color: hsl(234, 12%, 34%) ;
        text-align: center;
    }
     .Text h2{
        margin-bottom: 10px;
        color: hsl(234, 12%, 34%);
        font-family: Poppins;
    }

    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 90px;
        gap: 32px;
    }
    #image{
        margin-left: 200px;
        
    }
    .green{
        border-top: 3px solid  hsl(180, 62%, 55%);
    }
    .yellow{
        border-top: 3px solid  hsl(34, 97%, 64%) ;
    }
    .red{
        border-top: 3px solid red;
    }
    .blue{
        border-top: 3px solid hsl(212, 86%, 64%);
    }
    .sub{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
    }

    .card {
        padding: 32px;
        border: none;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 7px 0px #b3c8e9;
    }
    
    .card-header {
        font-family: poppins;
        color: hsl(212, 6%, 44%);
    }

    .card-text {
        /* font-size: 17px; */
        color: hsl(212, 6%, 44%);
        font-family: poppins;
        margin-top: 10px;
        margin-bottom: 16px;
    }

    @media screen and (max-width:500px){

        .Text{
            justify-items: center;
        }
        .sub{
            display: flex;
            flex-direction: column;
            justify-items: center;
        }
        .cards{
            display: flex;
            flex-direction: column;
            justify-items: center;
        }
        #image{
            margin-left: 150px;
        }
    }